<div class="liga-menu">

  <h2>🏆 Menú de LaLiga</h2>
  <p>Selecciona una sección</p>

  <div class="buttons-grid">

    <button routerLink="/clasificacion" class="btn clasificacion">
      🏆 Clasificación
    </button>

    <button routerLink="/rankings" class="btn rankings">
      📊 Rankings
    </button>

    <button routerLink="/jugadores" class="btn jugadores">
      👟 Jugadores
    </button>

    <button routerLink="/equipos" class="btn equipos">
      🏟 Equipos
    </button>

  </div>

</div>