<div class="liga-navbar">

  <div class="nav-item" routerLink="/clasificacion">
    <i class="bi bi-trophy"></i>
    <span>Clasificación</span>
  </div>

  <div class="nav-item" routerLink="/rankings">
    <i class="bi bi-bar-chart-line"></i>
    <span>Rankings</span>
  </div>

  <div class="nav-item" routerLink="/jugadores">
    <i class="bi bi-people"></i>
    <span>Jugadores</span>
  </div>

  <div class="nav-item" routerLink="/equipos">
    <i class="bi bi-shield-shaded"></i>
    <span>Equipos</span>
  </div>

</div>