.home {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  background: url("https://images.unsplash.com/photo-1517466787929-bc90951d0974?q=80&w=1920")
    center/cover no-repeat;

  overflow: hidden;
}

/* OSCURECER FONDO */
.overlay {
  position: absolute;
  inset: 0;

  background: rgba(10, 14, 23, 0.75);
  backdrop-filter: blur(3px);
}

/* CARD CENTRAL */
.home-card {
  position: relative;
  z-index: 2;

  text-align: center;

  background: rgba(17, 24, 39, 0.7);
  border: 1px solid #1e293b;

  padding: 40px;
  border-radius: 18px;

  width: 420px;

  animation: fadeIn 0.6s ease;
}

/* TITULO */
.home-card h1 {
  font-size: 38px;
  margin-bottom: 10px;
  color: #00d26a;
}

/* TEXTO */
.home-card p {
  color: #e2e8f0;
  font-size: 15px;
  margin-bottom: 10px;
}

.home-card span {
  display: block;
  color: #64748b;
  font-size: 13px;
  margin-bottom: 25px;
}

/* BOTON */
.home-card button {
  background: #00d26a;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;

  font-weight: bold;
  cursor: pointer;

  transition: all 0.3s ease;
}

.home-card button:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}

/* ANIMACIÓN */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}