

<aside class="sidebar">
  <button (click)="onToggle()" class="bi bi-x"></button>

  <!-- HEADER -->
  <div class="sidebar-header" routerLink="/">
     <i class="bi bi-ball"></i>DATAGOL
  </div>

  <!-- NAV -->
  <nav class="sidebar-nav">

    <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="onToggle()">
      <i class="bi bi-speedometer2"></i>
      Dashboard
    </a>

    <a routerLink="/teams" routerLinkActive="active" (click)="onToggle()">
      <i class="bi bi-shield"></i>
      Equipos
    </a>

    <a routerLink="/players" routerLinkActive="active" (click)="onToggle()">
      <i class="bi bi-person"></i>
      Jugadores
    </a>

    <a routerLink="/standings" routerLinkActive="active" (click)="onToggle()">
      <i class="bi bi-trophy"></i>
      Clasificación
    </a>

    <a routerLink="/rankings" routerLinkActive="active" (click)="onToggle()">
      <i class="bi bi-bar-chart"></i>
      Rankings
    </a>

  </nav>

  <!-- FOOTER -->
  <div class="sidebar-footer">

    <div class="sidebar-user">
      <div class="sidebar-user-avatar">SG</div>
      <div class="sidebar-user-info">
        <div class="sidebar-user-name">Sergio</div>
        <div class="sidebar-user-role">Administrador</div>
      </div>
    </div>

    <button class="bi bi-gear" routerLink="/settings"></button>

    <button class="login-btn">
      <i class="bi bi-box-arrow-in-right"></i>
      Logout
    </button>

  </div>

</aside>